.page.theme_light {
  --decorated-element-color: #353430;
  --header-menu-color: #353430;
  --text-color-basic: #353430;
  --text-color-titles: #FFC2E6;
  --color_shadows: #FF0070;
  --questions-color: #353430;
  --accent-color: #FF8DCB;
  --border_opacity: rgba(50, 49, 45, 0.4);
  --text-color-questions: #353430;
  --text-color-answers: #353430;
  --main-font: 'IBM Plex mono';
  --font-size-basic: 18px;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .decoration_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --decorated-element-color: #353430;
    --header-menu-color: #353430;
    --text-color-basic: #353430;
    --text-color-titles: #FFC2E6;
    --color_shadows: #FF0070;
    --questions-color: #353430;
    --accent-color: #FF8DCB;
    --border_opacity: rgba(50, 49, 45, 0.4);
    --text-color-questions: #353430;
    --text-color-answers: #353430;
    --main-font: 'IBM Plex mono';
    --font-size-basic: 18px;
    }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .decoration_element {
    display: none;
  }
}

