.page {
  min-inline-size: 375px;
  margin: 0;
  font-family: var(--main-font, sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-basic);
}

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: center;
  padding: 2.6vi;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: inherit;
  color: var(--header-menu-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  display: block;
  width: 70px;
  cursor: pointer;
}

.header_title {
  color: var(--text-color-titles);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.85em;
  text-shadow: 4px 4px 0 var(--color_shadows);
}

.header_text {
  justify-self: end;
  width: 100%;
  padding-inline-end: 8vi;
}

.title-decor {
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--text-color-answers);
  font-weight: bold;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 2.6vi;
  inset-inline-end: 2.6vi;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--decorated-element-color);
  border-right: 1px solid var(--decorated-element-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 2.6vi;
  inset-inline-start: 2.6vi;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--decorated-element-color);
  border-left: 1px solid var(--decorated-element-color);
}

.decoration_element {
  position: absolute;
  color: var(--accent-color);
  size: var(--font-size-basic, 18px);
  font-size: var(--font-size-basic, 18px);
  inset-block-start: 2.6vi;
  inset-inline-end: calc(2.6vi + 25px + 3px)
}

.decoration_element::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 3px var(--accent-color);
  inset-block-start: 9px;
  inset-inline-end: -18px;
}

.content {
  margin-block-start: 6vb;
  margin-block-end: 6vb;
  padding-inline-start: 2.6vi;
  padding-inline-end: 2.6vi;
}

.questions {
  color: var(--questions-color);
  font-size: inherit;
}

.paragraph {
  color: var(--text-color-basic);
  padding-block-start: 10px;
}

.why_difficalt {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 7.5vb;
}

.low_concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 7.5vb;
}

.high_concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 7.5vb;
}

.answers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.advice {
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--text-color-answers);
  font-weight: normal;
}

.gallary {
  display: grid;
  gap: 10px;
}

.picture {
  display: block;
  width: 100%;
  object-fit: cover;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  height: 100vh;
  display: grid;
  justify-items: start;
  align-items: center;
  padding: 2.6vi;
}

.footer_title {
  color: var(--text-color-titles);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.85em;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.links {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.links:hover {
  text-decoration: underline;
}


a:focus-visible {
  outline: 1px solid currentColor;
}

button:focus-visible {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  outline: 1px solid var(--border_opacity);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color);
  pointer-events: none;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    }

  
  }

/*grid-template-columns: minmax(236px, calc(1 / 3 * (100% - 40px))) auto;*/
