.page {
  min-inline-size: 375px;
  font-family: var(--main-font, sans-serif);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-basic);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: center;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: inherit;
  color: var(--header-menu-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  display: block;
  width: 70px;
  cursor: pointer;
}

.header_title {
  color: var(--text-color-titles);
  font-size: var(--header_footer-size);
  font-weight: bold;
  line-height: 0.85em;
  text-shadow: 4px 4px 0 var(--color_shadows);
}

.header_text {
  width: 100%;
  padding-inline-end: 8vi;
}

.title-decor {
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--text-color-answers);
  font-weight: bold;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--decorated-element-color);
  border-right: 1px solid var(--decorated-element-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--decorated-element-color);
  border-left: 1px solid var(--decorated-element-color);
}

.decoration_element {
  display: var(--decoration-element_display);
  text-transform: uppercase;
  position: absolute;
  color: var(--accent-color);
  size: var(--font-size-basic, 18px);
  font-size: var(--font-size-basic, 18px);
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.decoration_element::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 3px var(--accent-color);
  inset-block-start: 9px;
  inset-inline-end: -18px;
}

.content {
  margin-block-start: 40px;
  margin-block-end: 40px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.questions {
  color: var(--questions-color);
  font-size: inherit;
}

.paragraph {
  color: var(--text-color-basic);
  padding-block-start: 10px;
}

.why_difficalt, .low_concentration, .high_concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 50px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.advice {
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--text-color-answers);
  font-weight: normal;
}

.gallary {
  display: grid;
  gap: 10px;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.picture {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.footer_title {
  color: var(--text-color-titles);
  font-size: var(--header_footer-size);
  font-weight: bold;
  line-height: 0.85em;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.links {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.links:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color-basic);
}


a:focus-visible {
  border: 1px solid var(--text-color-basic);
}

button:focus-visible {
  text-decoration: none;
  border-bottom: 1px solid var(--header-menu-color);
}

button:hover {
  outline: 1px solid var(--border_opacity);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color);
  pointer-events: none;
}

@media (width >= 768px) {
  
  :root {
    --header_footer-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    }

  .header__theme-menu {
    grid-column: 1 / span 2;
  }

  .header_title {
    grid-column: 1 / span 2;
    position: relative;
    inset-inline-start: -20px;
  }

  .header_text {
    grid-column: 2;
  }

  .content {
    margin-block-start: 60px;
    margin-block-end: 60px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .why_difficalt {
    grid-template-columns: repeat(3, 1fr);
    margin-block-end: 80px;
  }

  .why_difficalt .questions {
    grid-column: 1 / span 1;
  }

  .why_difficalt .answers {
    grid-column: 2 / span 2;
    padding-inline-end: 5px;
  }

  .low_concentration {
    margin-block-end: 80px;
  }

  .low_concentration .questions {
    display: inline-block;
    width: 236px;
  }

  .high_concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-end: 80px;
  }

  .high_concentration .questions {
    grid-column: 1 / span 1;
  }

  .high_concentration .answers {
    grid-column: 2 / span 2;
    padding-inline-end: 5px;
  }

  .gallary {
    gap: 20px;
  }

  .pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .dessert {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .cassete {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .picture {
    height: 100%;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decoration_element {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header_text {
    padding-inline-end: 0;
  }

  .why_difficalt .answers {
    padding-inline-end: 0;
  }

  .low_concentration .questions {
    width: 315px;
  }

  .low_concentration .answers {
    grid-template-columns: repeat(3, 1fr);
  }
}
